@font-face {
  font-family: "Calamity";
  src: url("/fonts/calamity/Calamity Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Polaris";
  src: url("/fonts/polaris/Polaris.woff2") format("woff2"),
    url("/fonts/polaris/Polaris.otf") format("truetype");
}

@font-face {
  font-family: "Cherione";
  src: url("/fonts/cherione/Cherione-Bold.otf") format("truetype"),
    url("/fonts/cherione/Cherione-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Cherione Bold";
  src: url("/fonts/cherione/Cherione-Bold.otf") format("truetype"),
    url("/fonts/cherione/Cherione-Bold.ttf") format("truetype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  font-size: 18px;
}

body.modal-open {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {

}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer !important;
}

.reset-next-img {
  position: relative !important;
}
.reset-next-img span {
  position: unset !important;
}
.reset-next-img span img {
  position: unset !important;
  width: auto !important;
  height: auto !important;
  /* min-width: unset !important;
  max-width: unset !important;
  min-height: unset !important;
  max-height: unset !important; */
}

.primary-btn {
  position: relative;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-btn img {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 183px;
}

.primary-btn .link {
  position: relative;
  z-index: 30;
  font-size: 13px;
}

@media screen and (max-width: 992px) {

.primary-btn {
  padding: 0;
}

.primary-btn img {
  max-width: 155px;
}

.primary-btn .link { 
  font-size: 10px;
}

}


.swiper-wrapper {
  transition-timing-function: linear !important;
  }